<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname="" />

        <Resource
                name="jdbc/repositoryDS" auth="Container" type="javax.sql.DataSource"
                maxTotal="20" maxIdle="10" initialSize="2" maxWaitMillis="10000"
                testWhileIdle="true" testOnBorrow="false" validationQuery="SELECT 1"
                timeBetweenEvictionRunsMillis="10000"
                minEvictableIdleTimeMillis="60000"
                username="hippo" password="hippo"
                driverClassName="com.mysql.cj.jdbc.Driver"
                url="jdbc:mysql://localhost:3306/hippo?characterEncoding=utf8"/>

    <!-- Change the default repository storage location -->
    <!--
    <Parameter name="repository-directory" value="/data/storage" override="false"/>
    -->

    <!-- Enable this to let wicket output a wicketpath attribute for elements,
         see: https://xmdocumentation.bloomreach.com/library/development/create-a-selenium-test-case.html -->
    <!--
    <Parameter name="output-wicketpaths" value="true"/>
    -->
</Context>
